@model IEnumerable<SemainierStage.Models.Tache>
@Scripts.Render("~/bundles/datePickerJQuery")

@{
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>*@


<div id="datepicker" name="datepicker" class="datepicker">
</div>
@using (Html.BeginForm())
{
    @Html.Hidden("datepickerInput", null, new { @onchange = "form.submit();" });
}
@if (Model != null)
{

    <p>
        @Html.ActionLink("Créer une nouvelle tâche", "Create", new { date = ViewBag.Date })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Commentaire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreHeures)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Commentaire)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreHeures)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
}
